#library {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.book {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;

    background-color: black;
    color: white;
    height: 10em;
}
